body {
    background-color: black;
}
h1{
    text-align: center;
    color: blanchedalmond;
}

h2 {
    text-align: center;
    color: blanchedalmond;
}

p {
    color: blanchedalmond;
    text-align: center;
}